<errorcodes>
  <add key="SUCCESS" value="10002,Success" />
  <add key="BAD_REQUEST" value="10003,Bad Request" />
  <add key="SERVER_ERROR" value="9111,Server Error" />
  <add key="INVALID_JSON" value="10004,JSON not formatted missing attribute" />
  <add key="UNABLE_TO_CONNECTDB" value="9112,Unable to connect database {0}" />
  <add key="DB_UPDATE_ERROR" value="9113,Database  update error" />

  <add key="CUSTOMER_GET_SUCCESS" value="2000,Customer details retrieved successfully" />
  <add key="CUSTOMER_GET_FAILED" value="2001,Customer not found in system" />
  <add key="CUSTOMER_REWARDS_GET_FAILED" value="2002, Active rewards not available for the customer"/>

  <add key="REWARD_GET_SUCCESS" value="3000,Reward details retrieved successfully" />
  <add key="REWARD_GET_FAILED" value="3001,Reward not found in system" />
  <add key="REWARD_UPDATE_SUCCESS" value="3002,Reward updated successfully" />
  <add key="REWARD_UPDATE_FAILED" value="3001,Reward update failed" />

  <add key="REWARD_REDEEMED_SUCCESS" value="4000,Reward Redeemed Successful" />
  <add key="REWARD_REDEEMED_FAILED" value="4001,Reward Redeemed failed" />
  <add key="REWARD_ALREADY_REDEEMED" value="4002,Reward already redeemed" />
  <add key="REWARD_EXPIRED" value="4003,Reward Expired" />
  
  <add key="UNKNOWN_ERROR" value="10000,Unknown Error" />
</errorcodes>